{% extends 'monapp/base.html' %}

{% block title %}
  Ajouter un produit à la commande
{% endblock %}

{% block contenu %}
  <h2>Ajouter un produit à la commande {{ order.id }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ order_item_form.as_p }} 
    <input type="hidden" name="order" value="{{ order.id }}">
    <button type="submit" class="btn btn-primary">Ajouter le produit</button>
  </form>
  <a href="{% url 'order-detail' order.id %}" class="btn btn-primary mt-2">Retour aux détails de la commande</a>
{% endblock %}
