{% extends 'monapp/base.html' %}
{% block title %}
  Mes commandes en cours
{% endblock %}
{% block contenu %}
  <table class="table">
    <thead>
      <th>Nom</th>
      <th>Code</th>
      <th>Prix HT</th>
      <th>Prix TTC</th>
      <th>Date Création</th>
      <th>Fournisseur</th>
      <th>Stock</th>
      <th>État</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.product.name }}</td>
          <td>{{ order.product.code }}</td>
          <td>{{ order.product.price_ht }}</td>
          <td>{{ order.product.price_ttc }}</td>
          <td>{{ order.product.date_creation }}</td>
          <td>{{ order.supplier.name }}</td>
          <td>{{ order.product.stock }}</td>
          <td>{{ order.get_status_display }}</td>
          <td>
            <a href="{% url 'order-detail' order.id %}" class="btn btn-primary mt-2">Détails</a>
            <a href="{% url 'order-update' order.id %}" class="btn btn-warning mt-2">Modifier</a>
            <a href="{% url 'order-delete' order.id %}" class="btn btn-danger mt-2">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}